<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link rel="stylesheet" href="app.component.css">
<div class="container main-container">
<form class="formRegistro">
  <div class="container container-centered">
    <div class="row">
      <div class="col">
            <div class="card-header"  style="height: 500px; background-color: red">
                <h2>Registro</h2>
            </div>
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" formControlName="nombre" class="form-control" placeholder="Nombre">
  </div>
  <div class="form-group">
    <label for="apellido">Apellido</label>
    <input type="text" id="apellido" formControlName="apellido" class="form-control" placeholder="Apellido">
  </div>
  <div class="form-group">
    <label for="empresa">Nombre de la entidad o empresa</label>
    <input type="text" id="empresa" formControlName="empresa" class="form-control" placeholder=" RUT">
  </div>
  <div class="form-group">
    <label for="correo">Correo electrónico</label>
    <input type="email" id="correo" formControlName="correo" class="form-control" placeholder="Correo">
  </div>
  <div class="form-group">
    <label for="tipoPeticion">Tipo de petición</label>
    <select id="tipoPeticion" formControlName="tipoPeticion" class="form-control">
      <option value="">Seleccione un tipo de petición</option>
      <option value="1">Asesoria</option>
      <option value="2">Representación</option>
      <option value="3">Solicitud</option>
      <option value="4">Demanda</option>
    </select>
  </div>
  <div class="form-group">
    <label for="descripcion">Descripción de la petición</label>
    <textarea id="descripcion" formControlName="descripcion" class="form-control" placeholder="Por favor describa el tipo de petición a realizar"></textarea>
  </div>
  <!-- div class="form-group">
    <label for="documentos">Anexar documentos</label>
    <input type="file" id="documentos" formControlName="documentos" multiple class="form-control">
  </div -->
  <br>
  <button type="submit" class="btn btn-primary">Enviar</button>
</div>
<div class="col main-container1">
  <br>
  <img src="https://colmenaresasociados.com/site/images/logo.png">
  <br>
    <h3>Bienvenido a colmenares & Asociados Abogados</h3>
    <br>
    <!--<img src="https://static.vecteezy.com/system/resources/previews/013/134/196/non_2x/man-holding-scales-of-justice-logo-law-and-attorney-logo-design-free-vector.jpg" width="150px" height="150px"> -->
  <p>Puedes registrarte y hacer las peticiones correspondinetes de acuerdo a tu necesidad,
     llenando tus datos de contacto.</p>
</div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</form>
</div>
